/************************************************** HOMEPAGE & GENERAL **************************************************/

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background-color: #ffffe0;
    padding-top: 61px;
    font-size: 1rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a:hover {
    text-decoration: none;
}

nav, footer {
    background-color: #87cefa;
}

.dropdown-menu {
    background-color: #87cefa;
    min-width: 0;
}

.dropdown-item {
    color: rgba(0, 0, 0, 0.5);
}

.dropdown-item:hover {
    background-color: #87cefa;
}

.carousel-inner {
    border-radius: 0 0 0.25rem 0.25rem;
}

.carousel-caption {
    background-color: rgba(128, 128, 128, 0.7);
    right: auto;
    position: absolute;
    bottom: 40px;
    left: 15%;
    z-index: 10;
    padding: 20px;
    text-align: left;
}

.carousel-text {
    color: #ffffff;
}

.shop-button {
    font-size: 2rem;
    color: #ffd700;
}

.shop-button:hover {
    color: #daa520;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.divider {
    width: 90%;
    margin: 2rem 0 2rem 0;
}

.about-divider {
    width: 20%;
}

.section-header {
    color: #808080;
}

.about-img {
    border-radius: 0.25rem;
}

.about-intro {
    font-size: 2rem;
    margin-bottom: 0;
}

.about {
    color: #a9a9a9;
}

textarea {
    resize: none;
}

.contact-submit {
    background-color: #ffd700;
    color: #ffffff;
}

.contact-submit:hover {
    color: #ffffff;
    background-color: #daa520;
}

.facebook, .facebook:hover {
    color: #4267b2;
}

.twitter, .twitter:hover {
    color: #1da1f2;
}

.youtube, .youtube:hover {
    color: #ff0000;
}

.bottom-element {
    margin-bottom: 4rem;
}

/* Use only if there is little content on the page and you need the footer to stay at the bottom, rest of the needed CSS is already set */

/* .footer {
    margin-top: auto;
} */

.footer-content {
    color: rgba(0, 0, 0, 0.5);
}

.a-hover:hover {
    color: rgba(0, 0, 0, 0.7);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.copyright {
    background-color: #a9a9a9;
}

/************************************************** MEDIA QUERY **************************************************/

.vert-rule {
    background: none;
}

@media (max-width: 992px) {
    .contact-form {
        margin-bottom: 1rem;
    }
    .location {
        height: 400px;
    }
    #carousel {
        padding: 0 0;
    }
    .vert-rule {
        background: linear-gradient(#dee2e6, #dee2e6) no-repeat center/1px 100%;
    }
}

/************************************************** PRODUCTS **************************************************/

.products-descr {
    color: #a9a9a9;
    margin-bottom: 0;
}

.product-h5 {
    margin-bottom: 0;
}

.product-name {
    color: #808080;
    text-decoration: none;
}

.product-name:hover {
    color: #808080;
}

.product-price {
    color: #44a80a;
    margin-bottom: 0;
}

/************************************************** LOGIN **************************************************/

